#header
{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#header button{
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: lightskyblue;
}
#header button:hover{
    transform: scale(1.05);
    background-color: lightpink;
}
#breadCrumb{
    border: 2px solid blue;
    margin: 7px;
    display : flex;

}
#breadCrumb a{
    background-color: aqua;
    padding: 10px;
    border-right: 5px solid black;
}

#breadCrumb a:hover
{
    cursor: pointer;
    background-color: red;
    text-decoration: underline;
}
 .folder{
    border-radius: 5px ;
    background-color: lightpink;
    height: 110px;
    width: 110px;
    margin: 10px;
    padding: 10px;
 }
 .folder span{
    text-decoration: underline;
    cursor: pointer;
 }
 .folder [action]:hover{
    color: white;
 }
 .folder div[purpose=name]{
    margin-top: 70px;
 }
 .text-file{
    border-radius: 5px ;
    background-color: lightblue;
    height: 110px;
    width: 110px;
    margin: 10px;
    padding: 10px;
 }
 .text-file [action]{
    text-decoration: underline;
    cursor: pointer;
 }
 .text-file [action]:hover{
    color: white;
    transform: scale(2);
 }
 .text-file div[purpose=name]{
    margin-top: 70px;
 }
#container
{
    border: 2px solid red;
    margin: 7px;
    display: flex;

}
#app{
   border: 2px solid black;
   margin: 10px;
}

#app-title-bar{
   display: flex;
   background-color: cyan;
   height: 40px;
}

#app-title{
   width: 93%;
   text-align: center;
}

#app-menu-bar{
   display: flex;
   background-color: teal;
   height: 40px;
}

#app-body{
   display: flex;
   background-color: springgreen;
   height: 350px;
}
.notepad-menu{
   border: 1px solid white;
   width: 100%;
   padding: 5px;
}
.notepad-menu *{
   margin: 0px 5px;
   cursor: pointer;
   border: 2px solid white;
   border-radius: 5px;
   
}
.notepad-menu span {
   vertical-align: bottom;
}
.notepad-menu span:hover{
   border: 2px solid black;
   background-color: white;
   color: teal;
}
.notepad-menu [pressed=true]{
   border: 2px solid black;
   background-color: white;
   color: teal;
}
.notepad-menu input[type=color]{
   width: 30px;
}
.notepad-menu select{
   height: 30px;
}

.notepad-body{
   height: 100%;
   width: 100%;
}
.notepad-body textarea{
   height: 100%;
   width: 100%;
}
[purpose=download]{
   display: none;
}