#header
{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#header button{
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: lightskyblue;
}
#header button:hover{
    transform: scale(1.05);
    background-color: lightpink;
}
#breadCrumb{
    border: 2px solid blue;
    margin: 7px;
    display : flex;

}
#breadCrumb a{
    background-color: aqua;
    padding: 10px;
    border-right: 5px solid black;
}

#breadCrumb a:hover
{
    cursor: pointer;
    background-color: red;
    text-decoration: underline;
}
 .folder{
    border-radius: 5px ;
    background-color: lightpink;
    height: 110px;
    width: 110px;
    margin: 10px;
    padding: 10px;
 }
 .folder span{
    text-decoration: underline;
    cursor: pointer;
 }
 .folder [action]:hover{
    color: white;
 }
 .folder div[purpose=name]{
    margin-top: 70px;
 }
 .text-file{
    border-radius: 5px ;
    background-color: lightblue;
    height: 110px;
    width: 110px;
    margin: 10px;
    padding: 10px;
 }
 .text-file span{
    text-decoration: underline;
    cursor: pointer;
 }
 .text-file [action]:hover{
    color: white;
 }
 .text-file div[purpose=name]{
    margin-top: 70px;
 }
#container
{
    border: 2px solid red;
    margin: 7px;
    display: flex;

}